body {

    background-color: lightsteelblue;
}

#menu {
    top: 20px;
    background-image: linear-gradient(to right, #009fff, #ec2f4b);
    color: white;
    height: 50px;
    border-radius: 30px;
    box-shadow: 20px;

}

.menuu {

    display: inline;
    margin: 25px;
    padding: 20px;
    font-size: 20px;
}

h1 {

    font-size: 90px;
    color: #BF022E;
    text-align: center;
    font-family: 'Lobster', cursive;

}

a {

    font-family: 'Ranchers', cursive;
    color: white;
    font-size: 30px;



}

.texto1 {

    padding-right: 200px;
    padding-left: 200px;
    text-align: justify;
}
