body {

    background-image: linear-gradient(to right, #74ebd5, #acb6e5);
}

ul {
    top: 20px;
    background-image: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    color: white;
    height: 50px;
    border-radius: 30px;
    box-shadow: 20px;
}

li {

    display: inline;
    margin: 25px;
    padding: 20px;
    font-size: 20px;
}

h1 {

    font-size: 90px;
    color: #3C5291;
    text-align: center;
    font-family: 'Lobster', cursive;

}

#subtitulo {

    text-align: center;
    font-family: 'Lobster', cursive;
    color: #0082c8;
    font-size: 35px;


}

.texto {

    text-align: center;
    padding: 50px;
    font-family: 'Times New Roman', serif;
    font-size: 22px;
    border: 5px solid #3C5291;
    border-radius: 100px;


}

#nome {

    font-family: 'Lobster', cursive;
    color: #3C5291;
    font-size: 30px;
    text-align: right;
    margin-bottom: 0px;

}
